.navLogo {
  width: 45px;
}


li {
  list-style: none;
}

.active {
  font-weight: bolder;
  text-decoration: underline;
}

.header {
  border-bottom: solid gray 2px;
}

.member-btn {
  display: flex;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  margin-top: 30%;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  padding: 0.1%;
}

.profile {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.missions-profile {
  margin-left: 5%;
  margin-right: 2%;
}

.rockets-profile {
  margin-right: 10%;
  margin-left: 2%;
}

.profile p {
  border: solid 1px gray;
  padding: 5%;
  width: 570px;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 2%;
}

.img-rockets {
  width: 200px;
  height: 200px;
}

.missions {
  border-right: gray solid 3px;
}

.boorder {
  border-bottom: solid 1px gray;
}

.mission-badge {
  margin-top: 45%;
}
